In [5]:
import pandas as pd
taxi_owners = pd.read_pickle('taxi_owners.p')
taxi_veh= pd.read_pickle('taxi_vehicles.p')


Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.

In [10]:

# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on="vid")

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')

Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.

In [11]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')

Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.

In [12]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64

In [13]:
wards = pd.read_pickle('ward.p')
census= pd.read_pickle('census.p')

Merge wards and census on the ward column and save the result to wards_census.

In [15]:

print(wards.columns)
print(census.columns)

# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

Index(['ward', 'alderman', 'address', 'zip'], dtype='object')
Index(['ward', 'pop_2000', 'pop_2010', 'change', 'address', 'zip'], dtype='object')
wards_census table shape: (50, 9)

Merge the wards_altered and census tables on the ward column, and notice the difference in returned rows.

In [18]:
wards_altered=  pd.read_pickle('ward.p')

# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on="ward")

print(wards_altered_census.columns)

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)

  ward
0    1
1    2
2    3
3    4
4    5
Index(['ward', 'alderman', 'address_x', 'zip_x', 'pop_2000', 'pop_2010',
       'change', 'address_y', 'zip_y'],
      dtype='object')
wards_altered_census table shape: (50, 9)

Merge the wards and census_altered tables on the ward column, and notice the difference in returned rows.

In [20]:
census_altered = pd.read_pickle('census.p')

# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on='ward')

print(wards_census_altered.columns)

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

  ward
0    1
1    2
2    3
3    4
4    5
Index(['ward', 'alderman', 'address_x', 'zip_x', 'pop_2000', 'pop_2010',
       'change', 'address_y', 'zip_y'],
      dtype='object')
wards_census_altered table shape: (50, 9)

## Understanding Relationships Between Tables

In relational databases, understanding the nature of relationships between tables is crucial. Here are the different types of relationships with the e-commerce example:

1. **One-to-One Relationship**:
    - Each record in the first table corresponds to exactly one record in the second table
    - Example: The customer table and cust_tax_info table have a one-to-one relationship
    - Each customer has exactly one tax ID, and each tax ID belongs to exactly one customer

2. **One-to-Many Relationship**:
    - Each record in the first table corresponds to multiple records in the second table
    - Example: The customer table and orders table have a one-to-many relationship
    - A single customer can place multiple orders, but each order belongs to only one customer

3. **Many-to-Many Relationship**:
    - Records in the first table can relate to multiple records in the second table, and vice versa
    - Example: The orders table and products table have a many-to-many relationship
    - One order can contain multiple products, and one product can appear in multiple orders
    - This relationship typically requires a junction/bridge table to implement

4. **One-to-One or Zero Relationship**:
    - Like one-to-one, but allows for records that don't have a match
    - Example: Some customers might not have tax information yet

Understanding these relationships helps in designing efficient database schemas and performing appropriate joins when querying data.

###  one to one
The relationship between products and inventory .
The relationship between customer and cust_tax_info.
### one to many
The relationship between the products and orders.
The relationship between the customers and orders.

In [22]:
licenses = pd.read_pickle('licenses.p')
biz_owners = pd.read_pickle('business_owners.p')

In [35]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on='account')

print(licenses_owners.columns)

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

print(counted_df.head())

# Sort the counted_df in descending order
sorted_df = counted_df.sort_values(by='account', ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

Index(['account', 'ward', 'aid', 'business', 'address', 'zip', 'first_name',
       'last_name', 'title'],
      dtype='object')
                    account
title
ASST. SECRETARY         111
BENEFICIARY               4
CEO                     110
DIRECTOR                146
EXECUTIVE DIRECTOR       10
                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

Merge the ridership and cal tables together, starting with the ridership table on the left and save the result to the variable ridership_cal. If you code takes too long to run, your merge conditions might be incorrect.

In [ ]:
ridership= pd.read_pickle('cta_ridership.p')
cal= pd.read_pickle('cta_calendar.p')


# Merge the ridership and cal tables
ridership_cal = ridership.merge(cal, on=['year', 'month', 'day'])


print(ridership_cal.columns)

Index(['station_id', 'year', 'month', 'day', 'rides', 'day_type'], dtype='object')

In [41]:
stations = pd.read_pickle('stations.p')

# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
            				.merge(stations,on="station_id")
                
print(ridership_cal_stations.columns)

Index(['station_id', 'year', 'month', 'day', 'rides', 'day_type',
       'station_name', 'location'],
      dtype='object')

Create a variable called filter_criteria to select the appropriate rows from the merged table so that you can sum the rides column.

In [42]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
							.merge(stations, on='station_id')

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7) 
                   & (ridership_cal_stations['day_type'] == 'Weekday') 
                   & (ridership_cal_stations['station_name'] == 'Wilson'))

# Use .loc and the filter to select for rides
print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

140005

Starting with the licenses table, merge to it the zip_demo table on the zip column. Then merge the resulting table to the wards table on the ward column. Save result of the three merged tables to a variable named licenses_zip_ward.
Group the results of the three merged tables by the column alderman and find the median income.

In [43]:
zip_demo = pd.read_pickle('zip_demo.p')

# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on='zip') \
            			.merge(wards, on='ward')

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

                             income
alderman
Ameya Pawar                 66246.0
Anthony A. Beale            38206.0
Anthony V. Napolitano       82226.0
Ariel E. Reyboras           41307.0
Brendan Reilly             110215.0
Brian Hopkins               87143.0
Carlos Ramirez-Rosa         66246.0
Carrie M. Austin            38206.0
Chris Taliaferro            55566.0
Daniel "Danny" Solis        41226.0
David H. Moore              33304.0
Deborah Mell                66246.0
Debra L. Silverstein        50554.0
Derrick G. Curtis           65770.0
Edward M. Burke             42335.0
Emma M. Mitts               36283.0
George Cardenas             33959.0
Gilbert Villegas            41307.0
Gregory I. Mitchell         24941.0
Harry Osterman              45442.0
Howard B. Brookins, Jr.     33304.0
James Cappleman             79565.0
Jason C. Ervin              41226.0
Joe Moore                   39163.0
John S. Arena               70122.0
Leslie A. Hairston          28024.0
Margaret Laurino            70122.0
Marty Quinn                 67045.0
Matthew J. O'Shea           59488.0
Michael R. Zalewski         42335.0
Michael Scott, Jr.          31445.0
Michelle A. Harris          32558.0
Michelle Smith             100116.0
Milagros "Milly" Santiago   41307.0
Nicholas Sposato            62223.0
Pat Dowell                  46340.0
Patrick Daley Thompson      41226.0
Patrick J. O'Connor         50554.0
Proco "Joe" Moreno          87143.0
Raymond A. Lopez            33959.0
Ricardo Munoz               31445.0
Roberto Maldonado           68223.0
Roderick T. Sawyer          32558.0
Scott Waguespack            68223.0
Susan Sadlowski Garza       38417.0
Tom Tunney                  88708.0
Toni L. Foulkes             27573.0
Walter Burnett, Jr.         87143.0
William D. Burns           107811.0
Willie B. Cochran           28024.0

Merge land_use and census on the ward column. Merge the result of this with licenses on the ward column, using the suffix _cen for the left table and _lic for the right table. Save this to the variable land_cen_lic.

In [46]:
land_use = pd.read_pickle('land_use.p')

# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))
                    
print(land_cen_lic.columns)

Index(['ward', 'residential', 'commercial', 'industrial', 'vacant', 'other',
       'pop_2000', 'pop_2010', 'change', 'address_cen', 'zip_cen', 'account',
       'aid', 'business', 'address_lic', 'zip_lic'],
      dtype='object')

Group land_cen_lic by ward, pop_2010 (the population in 2010), and vacant, then count the number of accounts. Save the results to pop_vac_lic.

In [48]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

print(pop_vac_lic.head())

  ward  pop_2010  vacant  account
0    1     56149       2      253
1   10     51535      14      130
2   11     51497       5      201
3   12     52235       4      255
4   13     53722       1      101

Sort pop_vac_lic by vacant, account, andpop_2010 in descending, ascending, and ascending order respectively. Save it as sorted_pop_vac_lic.

In [49]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(['vacant', 'account', 'pop_2010'], 
                                             ascending=[False, True, True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156

Merge the movies table, as the left table, with the financials table using a left join, and save the result to movies_financials.

In [56]:
movies = pd.read_pickle('movies.p')
financials = pd.read_pickle('financials.p')

# Merge movies and financials with a left join
movies_financials = movies.merge(financials, on='id', how='left')

print(movies_financials.columns)

Index(['id', 'title', 'popularity', 'release_date', 'budget', 'revenue'], dtype='object')

Count the number of rows in movies_financials with a null value in the budget column.

In [57]:
# Merge the movies table with the financials table with a left join
movies_financials = movies.merge(financials, on='id', how='left')

# Count the number of rows in the budget column that are missing
number_of_missing_fin = movies_financials['budget'].isnull().sum()

# Print the number of movies missing financials
print(number_of_missing_fin)

1574