**Q1: How to create a series from a list, numpy array and dict?**
```python
# Input
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [ ]:
# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

**Q2: How to convert the index of a series into a column of a dataframe?**
Convert the series ser into a dataframe with its index as another column on the dataframe.
```python
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [ ]:
# Solution
df = ser.to_frame().reset_index()
print(df.head())

**Q3: How to combine many series to form a dataframe?**
Combine ser1 and ser2 to form a dataframe.
```python
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

In [ ]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

**Q4: How to assign name to the series’ index?**
Give a name to the series ser calling it ‘alphabets’.

```python
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
```

In [ ]:
# Solution
ser.name = 'alphabets'
ser.head()

**Q5: How to get the items of series A not present in series B?**
From ser1 remove items present in ser2.

```python
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [ ]:
# Solution
ser1[~ser1.isin(ser2)]

**Q6: How to get the items not common to both series A and series B?**
Get all items of ser1 and ser2 not common to both.
```python
# Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [ ]:
# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

**Q7: How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?**
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
```python
# Input

ser = pd.Series(np.random.normal(10, 5, 25))
```

In [ ]:
# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

**Q8: How to get frequency counts of unique items of a series?**
Calculte the frequency counts of each unique value ser.
```python
# Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
```

In [ ]:
# Solution
ser.value_counts()

**Q9: How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?**
From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
```python
# Input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
```

In [ ]:
# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser