**Q1: How to create a series from a list, numpy array and dict?**

In [3]:
# Input
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
print(mydict)

{'a': np.int64(0), 'b': np.int64(1), 'c': np.int64(2), 'e': np.int64(3), 'd': np.int64(4), 'f': np.int64(5), 'g': np.int64(6), 'h': np.int64(7), 'i': np.int64(8), 'j': np.int64(9), 'k': np.int64(10), 'l': np.int64(11), 'm': np.int64(12), 'n': np.int64(13), 'o': np.int64(14), 'p': np.int64(15), 'q': np.int64(16), 'r': np.int64(17), 's': np.int64(18), 't': np.int64(19), 'u': np.int64(20), 'v': np.int64(21), 'w': np.int64(22), 'x': np.int64(23), 'y': np.int64(24), 'z': np.int64(25)}

In [6]:
# Solution
import pandas as pd
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser1.head())
print(ser2.head())
print(ser3.head())

0    a
1    b
2    c
3    e
4    d
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int64
a    0
b    1
c    2
e    3
d    4
dtype: int64

**Q2: How to convert the index of a series into a column of a dataframe?**
Convert the series ser into a dataframe with its index as another column on the dataframe.

In [7]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [8]:
# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

**Q3: How to combine many series to form a dataframe?**
Combine ser1 and ser2 to form a dataframe.

In [9]:
# Input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [10]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

**Q4: How to assign name to the series’ index?**
Give a name to the series ser calling it ‘alphabets’.

In [11]:
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [12]:
# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

**Q5: How to get the items of series A not present in series B?**
From ser1 remove items present in ser2.

In [13]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [14]:
# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

**Q6: How to get the items not common to both series A and series B?**
Get all items of ser1 and ser2 not common to both.

In [15]:
# Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [16]:
# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

**Q7: How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?**
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [17]:
# Input

ser = pd.Series(np.random.normal(10, 5, 25))

In [18]:
# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 0.96925689,  5.59022335,  7.82003423,  9.97885179, 15.37225359])

**Q8: How to get frequency counts of unique items of a series?**
Calculte the frequency counts of each unique value ser.

In [21]:
# Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser)

0     a
1     a
2     e
3     e
4     g
5     h
6     h
7     g
8     a
9     a
10    f
11    h
12    g
13    f
14    c
15    d
16    c
17    f
18    c
19    c
20    b
21    f
22    e
23    e
24    h
25    g
26    d
27    g
28    h
29    c
dtype: object

In [20]:
# Solution
ser.value_counts()

h    7
c    6
a    4
b    4
d    4
e    2
g    2
f    1
Name: count, dtype: int64

**Q9: How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?**
From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [22]:
# Input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [24]:
# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: Other    5
2        4
3        3
Name: count, dtype: int64

0     Other
1         2
2     Other
3     Other
4     Other
5     Other
6     Other
7         2
8     Other
9         2
10    Other
11        2
dtype: object

**Q10: How to bin a numeric series to 10 groups of equal size?**
Bin the series ser into 10 equal deciles and replace the values with the bin name.
```python
# Input

ser = pd.Series(np.random.random(20))
```

In [ ]:
# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

**Q11: How to convert a numpy array to a dataframe of given shape?**
Reshape the series ser into a dataframe with 7 rows and 5 columns
```python
# Input

ser = pd.Series(np.random.randint(1, 10, 35))
```

In [ ]:
# Solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

**Q12: How to find the positions of numbers that are multiples of 3 from a series?**
Find the positions of numbers that are multiples of 3 from ser.
```python
# Input

ser = pd.Series(np.random.randint(1, 10, 7))
```

In [ ]:
# Solution
print(ser)
np.argwhere(ser % 3==0)

**Q13: How to extract items at given positions from a series**
From ser, extract the items at positions in list pos.
```python
# Input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
```

In [ ]:
# Solution
ser.take(pos)

**Q14: How to stack two series vertically and horizontally ?**
Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
```python
# Input

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [ ]:
# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

**Q15: How to get the positions of items of series A in another series B?**
Get the positions of items of ser2 in ser1 as a list.
```python
# Input

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
```

In [ ]:
# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

**Q16: How to compute the mean squared error on a truth and predicted series?**
Compute the mean squared error of truth and pred series.
```python
# Input

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
```

In [ ]:
# Solution
np.mean((truth-pred)**2)

**Q17: How to convert the first character of each element in a series to uppercase?**
Change the first character of each word to upper case in each word of ser.
```python
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
```

In [ ]:
# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

**Q18: How to calculate the number of characters in each word in a series?**
```python
# Input

ser = pd.Series(['how', 'to', 'kick', 'ass?'])
```

In [ ]:
# Solution
ser.map(lambda x: len(x))

**Q19: How to compute difference of differences between consequtive numbers of a series?**
Difference of differences between the consequtive numbers of ser.
```python
# Input

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
```
```python
# Desired Output

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
```

In [ ]:
# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

**Q20: How to convert a series of date-strings to a timeseries?**
```python
# Input

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```

```python
# Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]
```

In [ ]:
# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

# Solution 2
pd.to_datetime(ser)

**Q21: How to get the day of month, week number, day of year and day of week from a series of date strings?**

Get the day of month, week number, day of year and day of week from ser.

```python
# Input

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```
```python
# Desired output

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [ ]:
# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

**Q22: How to convert year-month string to dates corresponding to the 4th day of the month?**
Change ser to dates that start with 4th of the respective months.
```python
# Input

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
```
```python
# Desired Output

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]
```

In [ ]:
# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

# Solution 2
ser.map(lambda x: parse('04 ' + x))

**Q23: How to filter words that contain atleast 2 vowels from a series?**
From ser, extract words that contain atleast 2 vowels.
```python
# Input

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
```
```python
# Desired Output

0     Apple
1    Orange
4     Money
dtype: object
```

In [ ]:
# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

**Q24: How to filter valid emails from a series?**
Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.
```python
# Input

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'arifcse209@gmail.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
```
```python
# Desired Output

1    rameses@egypt.com
2            matt@t.co
3    arifcse209@gmail.com
dtype: object
```

In [ ]:
# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

**Q25: How to get the mean of a series grouped by another series?**
Compute the mean of weights of each fruit.
```python
# Input

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
```
```python
# Desired output

# values can change due to randomness
apple     6.0
banana    4.0
carrot    5.8
dtype: float64
```

In [ ]:
# Solution
weights.groupby(fruit).mean()

**Q26: How to compute the euclidean distance between two series?**
Compute the euclidean distance between series (points) p and q, without using a packaged formula.

```python
# Input

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
```
```python
# Desired Output

18.165
```

In [ ]:
# Solution 
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

**Q27: How to find all the local maxima (or peaks) in a numeric series?**
Get the positions of peaks (values surrounded by smaller values on both sides) in ser.
```python
# Input

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
```
```python
# Desired output

array([1, 5, 7])
```

In [ ]:
# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

**Q28: How to replace missing spaces in a string with the least frequent character?**

Replace the spaces in my_str with the least frequent character.
```python
Input

my_str = 'dbc deb abed gade'
Desired Output

'dbccdebcabedcgade'  # least frequent is 'c'
```

In [ ]:
# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

**Q29: How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?**
```python
# Desired output

# values can be random
2000-01-01    4
2000-01-08    1
2000-01-15    8
2000-01-22    4
2000-01-29    4
2000-02-05    2
2000-02-12    4
2000-02-19    9
2000-02-26    6
2000-03-04    6
```

In [ ]:
# Solution
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

**Q30: How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?**
ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

```python
# Input

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64
```

```python
# Desired Output

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
```

In [ ]:
# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

**Q31: How to compute the autocorrelations of a numeric series?**
Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.
```python
# Input

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
```
```python
# Desired output

# values will change due to randomness
[0.29999999999999999, -0.11, -0.17000000000000001, 0.46000000000000002, 0.28000000000000003, -0.040000000000000001, -0.37, 0.41999999999999998, 0.47999999999999998, 0.17999999999999999]
Lag having highest correlation:  9
```

In [ ]:
# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

**Q32: How to import only every nth row from a csv file to create a dataframe?**
Import every 50th row of BostonHousing dataset as a dataframe.

In [ ]:
# Solution 1: Use chunks and for-loop
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])


# Solution 2: Use chunks and list comprehension
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

# Solution 3: Use csv reader
import csv          
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

**Q33: How to change column values when importing csv to a dataframe?**
Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [ ]:
# Solution 1: Using converter parameter
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})


# Solution 2: Using csv reader
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i > 0:
            row[13] = 'High' if float(row[13]) > 25 else 'Low'
        out.append(row)

df = pd.DataFrame(out[1:], columns=out[0])
print(df.head())

**Q34: How to create a dataframe with rows as strides from a given series?**
```python
# Input

L = pd.Series(range(15))
```
```python
# Desired Output

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]])
```

In [ ]:
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

**Q35: How to import only specified columns from a csv file?**
Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

**Q36: How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.**
Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)

# how many columns under each dtype
print(df.get_dtype_counts())
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

**Q37 How to extract the row and column number of a particular cell with given criterion?**
```python
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```
Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']
df.get_value(row[0], 'Price')

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

**Q38: How to rename a specific columns in a dataframe?**
Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
```python
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)
#> Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
#>        'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
#>        'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```
```python
# Desired Solution

print(df.columns)
#> Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
#>        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
#>        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

**Q39: How to check if a dataframe has any missing values?**
Check if df has any missing values.
```python 
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
# Solution
df.isnull().values.any()

**Q40: How to count the number of missing values in each column?**
Count the number of missing values in each column of df. Which column has the maximum number of missing values?
```python
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

```

In [ ]:
# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

**Q41: How to replace missing values of multiple numeric columns with the mean?**

Replace missing values in Min.Price and Max.Price columns with their respective mean.
```python
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

**Q42: How to use apply function on existing columns with global variables as additional arguments?**
In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.
```python
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

**Q43: How to select a specific column from a dataframe as a dataframe instead of a series?**

Get the first column (a) in df as a dataframe (rather than as a Series).
```python
# Input

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [ ]:
# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

**Q44: How to change the order of columns of a dataframe?**
Actually 3 questions.

In df, interchange columns 'a' and 'c'.
Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.
```python
Input

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [ ]:
# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

**Q45: How to set the number of rows and columns displayed in the output?**
Change the pamdas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.
```python
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
# df

# Show all available options
# pd.describe_option()

**Q46: How to format or suppress scientific notations in a pandas dataframe?**
Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.
```python
# Input

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df
#>          random
#> 0  3.474280e-03
#> 1  3.951517e-05
#> 2  7.469702e-02
#> 3  5.541282e-28
```
```python
# Desired Output

#>    random
#> 0  0.0035
#> 1  0.0000
#> 2  0.0747
#> 3  0.0000
```

In [ ]:
# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

**Q47: How to format all the values in a dataframe as percentages?**
Format the values in column 'random' of df as percentages.
```python
# Input

df = pd.DataFrame(np.random.random(4), columns=['random'])
df
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082
```
```python
# Desired Output

#>      random
#> 0    68.97%
#> 1    95.72%
#> 2    15.91%
#> 3    2.10%
```

In [ ]:
# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

**Q48: How to filter every nth row in a dataframe?**
From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).
```python
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

**Q49: How to create a primary key index by combining relevant columns?**

In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

```python
# Input

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
```
```python
# Desired Output

                       Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small           Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize      missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                Audi       90  Compact       25.9       32.3
Audi_100_Midsize               Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                BMW     535i  Midsize        NaN        NaN
```

In [ ]:
# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

**Q50: How to get the row number of the nth largest value in a column?**
Find the row position of the 5th largest value of column 'a' in df.
```python
# Input

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
```

In [ ]:
# Solution
n = 5
df['a'].argsort()[::-1][n]

**Q51: How to find the position of the nth largest value greater than a given value?**
In ser, find the position of the 2nd largest value greater than the mean.

```python
# Input

ser = pd.Series(np.random.randint(1, 100, 15))
```

In [ ]:
# Solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

**Q52: How to get the last n rows of a dataframe with row sum > 100?**
Get the last two rows of df whose row sum is greater than 100.

```python

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
```

In [ ]:
# Solution
# print row sums
rowsums = df.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
last_two_rows = df.iloc[np.where(rowsums > 100)[0][-2:], :]

**Q53: How to find and cap outliers from a series or dataframe column?**
Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.
```python
# Input

ser = pd.Series(np.logspace(-2, 2, 30))
```

In [ ]:
# Solution
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser, .05, .95)

**Q54: How to reshape a dataframe to the largest possible square after removing the negative values?**
Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. The order of the positive numbers in the result should remain the same as the original.
```python
# Input

df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
```

In [ ]:
# Solution
# Step 1: remove negative values from arr
arr = df[df > 0].values.flatten()
arr_qualified = arr[~np.isnan(arr)]

# Step 2: find side-length of largest possible square
n = int(np.floor(arr_qualified.shape[0]**.5))

# Step 3: Take top n^2 items without changing positions
top_indexes = np.argsort(arr_qualified)[::-1]
output = np.take(arr_qualified, sorted(top_indexes[:n**2])).reshape(n, -1)
print(output)

**Q55: How to swap two rows of a dataframe?**


Swap rows 1 and 2 in df.
```python
# Input

df = pd.DataFrame(np.arange(25).reshape(5, -1))
```

In [ ]:
# Solution
def swap_rows(df, i1, i2):
    a, b = df.iloc[i1, :].copy(), df.iloc[i2, :].copy()
    df.iloc[i1, :], df.iloc[i2, :] = b, a
    return df

print(swap_rows(df, 1, 2))

**Q56: How to reverse the rows of a dataframe?**


Reverse all the rows of dataframe df.
```python
# Input

df = pd.DataFrame(np.arange(25).reshape(5, -1))
```

In [ ]:
# Solution 1
df.iloc[::-1, :]

# Solution 2
print(df.loc[df.index[::-1], :])

**Q57: How to create one-hot encodings of a categorical variable (dummy variables)?**


Get one-hot encodings for column 'a' in the dataframe df and append it as columns.
```python
# Input

df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
```
```python
# Output

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24
```

In [ ]:
# Solution
df_onehot = pd.concat([pd.get_dummies(df['a']), df[list('bcde')]], axis=1)
print(df_onehot)

**Q58: Which column contains the highest number of row-wise maximum values?**


Obtain the column name with the highest number of row-wise maximum’s in df.
```python
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
```

In [ ]:
# Solution
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

**Q59: How to create a new column that contains the row number of nearest column by euclidean distance?**
Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.


```python
# Input

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34
```
```python
# Desired Output

df
#    p   q   r   s nearest_row   dist
# a  57  77  13  62           i  116.0
# b  68   5  92  24           a  114.0
# c  74  40  18  37           i   91.0
# d  80  17  39  60           i   89.0
# e  93  48  85  33           i   92.0
# f  69  55   8  11           g  100.0
# g  39  23  88  53           f  100.0
# h  63  28  25  61           i   88.0
# i  18   4  73   7           a  116.0
# j  79  12  45  34           a   81.0
```

In [ ]:
# Solution
import numpy as np

# init outputs
nearest_rows = []
nearest_distance = []

# iterate rows.
for i, row in df.iterrows():
    curr = row
    rest = df.drop(i)
    e_dists = {}  # init dict to store euclidean dists for current row.
    # iterate rest of rows for current row
    for j, contestant in rest.iterrows():
        # compute euclidean dist and update e_dists
        e_dists.update({j: round(np.linalg.norm(curr.values - contestant.values))})
    # update nearest row to current row and the distance value
    nearest_rows.append(max(e_dists, key=e_dists.get))
    nearest_distance.append(max(e_dists.values()))

df['nearest_row'] = nearest_rows
df['dist'] = nearest_distance

**Q60: How to know the maximum possible correlation value of each column against other columns?**


Compute maximum possible absolute correlation value of each column against other columns in df.
```python
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
```

In [ ]:
# Solution
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

**Q61: How to create a column containing the minimum by maximum of each row?**


Compute the minimum-by-maximum for every row of df.
```python

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

In [ ]:
# Solution 1
min_by_max = df.apply(lambda x: np.min(x)/np.max(x), axis=1)

# Solution 2
min_by_max = np.min(df, axis=1)/np.max(df, axis=1)

**Q62: How to create a column that contains the penultimate value in each row?**


Create a new column 'penultimate' which has the second largest value of each row of df.
```python
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

In [ ]:
# Solution
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['penultimate'] = out
print(df)

**Q63: How to normalize all columns in a dataframe?**


Normalize all columns of df by subtracting the column mean and divide by standard deviation.
Range all columns of df such that the minimum value in each column is 0 and max is 1.
Don’t use external packages like sklearn.

```python
# Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

In [ ]:
# Solution Q1
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

# Solution Q2
out2 = df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
print('Solution Q2\n', out2)

**Q64: How to compute the correlation of each row with the suceeding row?**

Compute the correlation of each row of df with its succeeding row.

Input

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [ ]:
# Solution
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

**Q65: How to replace both the diagonals of dataframe with 0?**


Replace both values in both diagonals of df with 0.

```python
# Input

df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63
```
```python
# Desired output

#     0   1   2   3   4   5   6   7   8   9
# 0   0  46  26  44  11  62  18  70  68   0
# 1  87   0  52  50  81  43  83  39   0  59
# 2  47  76   0  77  73   2   2   0  14  26
# 3  64  18  74   0  16  37   0   8  66  39
# 4  10  18  39  98   0   0  32   6   3  29
# 5  29  91  27  86   0   0  28  31  97  10
# 6  37  71  70   0   4  72   0  89  12  97
# 7  65  22   0  75  17  10  43   0  12  77
# 8  47   0  96  55  17  83  61  85   0  86
# 9   0  80  28  45  77  12  67  80   7   0
```

In [ ]:
# Solution
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0

**Q66: How to get the particular group of a groupby dataframe by key?**


This is a question related to understanding of grouped dataframe. From df_grouped, get the group belonging to 'apple' as a dataframe.

```python
# Input

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
```

In [ ]:
# Solution 1
df_grouped.get_group('apple')

# Solution 2
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

**Q67: How to get the n’th largest value of a column when grouped by another column?**


In df, find the second largest value of 'taste' for 'banana'

```python
# Input

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
```

In [ ]:
# Solution
df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

**Q68: How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?**


In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

```python
# Input

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})```

In [ ]:
# Solution
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

**Q69: How to join two dataframes by 2 columns so they have only the common rows?**

Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

```python
# Input

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
```

In [ ]:
# Solution
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'pounds'], suffixes=['_left', '_right'])

**Q70: How to remove rows from a dataframe that are present in another dataframe?**

From df1, remove the rows that are present in df2. All three columns must be the same.

```python
# Input

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
```

In [ ]:
# Solution
print(df1[~df1.isin(df2).all(1)])

**Q71: How to get the positions where values of two columns match?**

In [ ]:
# Solution
np.where(df.fruit1 == df.fruit2)

**Q72: How to create lags and leads of a column in a dataframe?**

Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

```python 
# Input

df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4
# Desired Output

    a   b   c   d  a_lag1  b_lead1
0  66  34  76  47     NaN     86.0
1  20  86  10  81    66.0     73.0
2  75  73  51  28    20.0      1.0
3   1   1   9  83    75.0     47.0
4  30  47  67   4     1.0      NaN
```

In [ ]:
# Solution
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

**Q73: How to get the frequency of unique values in the entire dataframe?**

Get the frequency of unique values in the entire dataframe df.
```python

# Input

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
```

In [ ]:
# Solution
pd.value_counts(df.values.ravel())

**Q74: How to split a text column into two separate columns?**

Split the string column in df to form a dataframe with 3 columns as shown.

```python

# Input

df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)
#>                         row
#> 0          STD, City\tState
#> 1  33, Kolkata\tWest Bengal
#> 2   44, Chennai\tTamil Nadu
#> 3  40, Hyderabad\tTelengana
#> 4  80, Bangalore\tKarnataka
# Desired Output

0 STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

```

In [ ]:
# Solution
df_out = df.row.str.split(',|\t', expand=True)

# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)